<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> MCar Share </title>

    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="images/logo1.png">

    <!-- CSS Global -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="assets/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
    <link href="assets/plugins/owl-carousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/plugins/owl-carousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="assets/plugins/animate/animate.min.css" rel="stylesheet">
    <link href="assets/plugins/swiper/css/swiper.min.css" rel="stylesheet">
    <link href="assets/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="assets/css/theme.css" rel="stylesheet">

    <!-- Head Libs -->
    <script src="assets/plugins/modernizr.custom.js"></script>

    <!--[if lt IE 9]>
    <script src="assets/plugins/iesupport/html5shiv.js"></script>
    <script src="assets/plugins/iesupport/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="wide">
<!-- PRELOADER -->
<div id="preloader">
    <div id="preloader-status">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div id="preloader-title">Loading</div>
    </div>
</div>
<!-- /PRELOADER -->

<!-- WRAPPER -->
<div class="wrapper">

    <!-- HEADER -->
    <header class="header fixed">
        <div class="header-wrapper">
            <div class="container">

                <!-- Logo -->
                <div class="logo">
                    <a href="index.html"><img src="images/logo1.png" alt="MCar Share"/></a>
                </div>
                <!-- /Logo -->

                <!-- Mobile menu toggle button -->
                <a href="#" class="menu-toggle btn ripple-effect btn-theme-transparent"><i class="fa fa-bars"></i></a>
                <!-- /Mobile menu toggle button -->

                <!-- Navigation -->
                <nav class="navigation closed clearfix">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!-- navigation menu -->
                            <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                            <ul class="nav sf-menu">
                                <li><a href="index.html">Home</a></li>
								<li><a href="">Hot Deals</a></li>
                                <li><a href="available_cars.html">Vehicles</a></li>
                                <li><a href="">FAQS</a></li>
								<li class="active"><a href="">User Login</a>
                                    <ul>
                                        <li><a href=""> Customer Login </a></li>
                                        <li><a href="">Employee Login</a></li>
                                        <li><a href="">Administrator Login</a></li>
                                    </ul>
                                </li>
                                <li><a href="/logout">Logout</a></li>
                                <li>
                                    <ul class="social-icons">
                                        <li><a href="https://www.facebook.com/ok.samjackson" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- /navigation menu -->
                        </div>
                    </div>
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar"></div>
                </nav>
                <!-- /Navigation -->

            </div>
        </div>

    </header>
    <!-- /HEADER -->


















	<!-- PAGE -->
	<!-- /CONTENT AREA -->
	<div class="content-area">
	<!-- BREADCRUMBS -->
        <section class="page-section breadcrumbs text-center">
            <div class="container">
                <div class="page-header">
                    <h1>Login</h1>
                </div>
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>

                    <li class="active">Login</li>
                </ul>
            </div>
        </section>
    <!-- /BREADCRUMBS -->

	<!-- PAGE -->
	<section class="page-section color">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="block-title"><span>Login</span></h3>
                        <table id="myTable" style="width:100%">
                          <tr style="font-weight:bold">
                            <td>CarID</td>
                            <td>Brand</td>
                            <td>Class</td>
                            <td>Price</td>
                            <td>Location</td>
                            <td>License</td>
                            <td>Color</td>
                            <td>Customer</td>
                          </tr>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="block-title"><span>Create New Account</span></h3>
                        <form action="#" class="create-account">
                            <div class="row">
                                <div class="col-md-12 hello-text-wrap">
                                    <span class="hello-text text-thin">Create Your Account</span>
                                </div>
                            </div>
                        </form>
                        <form action="/addcar" class="form-login" method ="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group"><input class="form-control" type="text" placeholder="Please Input Car ID:201601001" name="CarID" /></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"><input class="form-control" type="text" placeholder="Please Input Car Brand:Ford" name="Brand" /></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"><input class="form-control" type="text" placeholder="Please Input Car Class: A,B,C" name="Class" /></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"><input class="form-control" type="text" placeholder="Please Input Rent Price: 20" name="Price" /></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"><input class="form-control" type="text" placeholder="Please Input Location of Car" name="Location" /></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"><input class="form-control" type="text" placeholder="Please Input License of Car" name="License" /></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"><input class="form-control" type="text" placeholder="Description of Car" name="Color" /></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"><input class="form-control" type="hidden" name="Customer" /></div>
                                </div>
                                <div class="col-md-6">
                                    <input type= "submit" class="btn btn-theme btn-block btn-theme-dark" value="Add">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
	<!-- PAGE -->

	<!-- PAGE -->
		<section class="page-section">
				<div class="container">

					<h2 class="section-title wow fadeInDown" data-wow-offset="200" data-wow-delay="100ms">
						<small>Do You Have Any Question or Anything else </small>
						<span>Costumer service</span>
					</h2>

					<!-- Team row -->
					<div class="row">

						<!-- Team 1 -->
						<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="100ms">
							<div class="thumbnail thumbnail-team no-border no-padding">
								<div class="media">
									<img src="assets/img/preview/team/team-270x270x1.jpg" alt=""/>
								</div>
								<div class="caption">
									<h4 class="caption-title">Samuel Owusu <small>Costumer Service</small></h4>
									<ul class="team-details">
										<li>Skype: oksamjackson</li>
										<li>Tel: 780 266-7090</li>
										<li><a href="">supportname@gmail.com</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /Team 1 -->

						<!-- Team 2 -->
						<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="200ms">
							<div class="thumbnail thumbnail-team no-border no-padding">
								<div class="media">
									<img src="assets/img/preview/team/team-270x270x2.jpg" alt=""/>
								</div>
								<div class="caption">
									<h4 class="caption-title">Huizhong Liu <small>Team Title</small></h4>
									<ul class="team-details">
										<li>Skype: team.member</li>
										<li>Tel: 555 555-5555</li>
										<li><a href="mailto:supportname@gmail.com">supportname@gmail.com</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /Team 2 -->

						<!-- Team 3 -->
						<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="300ms">
							<div class="thumbnail thumbnail-team no-border no-padding">
								<div class="media">
									<img src="assets/img/preview/team/team-270x270x3.jpg" alt=""/>
								</div>
								<div class="caption">
									<h4 class="caption-title">Jia Luo <small>Tech-Support</small></h4>
									<ul class="team-details">
										<li>Skype: team.member</li>
										<li>Tel: 555 555-5555</li>
										<li><a href="mailto:supportname@gmail.com">supportname@gmail.com</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /Team 3 -->

						<!-- Team 4 -->
						<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="400ms">
							<div class="thumbnail thumbnail-team no-border no-padding">
								<div class="media">
									<img src="assets/img/preview/team/team-270x270x4.jpg" alt=""/>
								</div>
								<div class="caption">
									<h4 class="caption-title">Mark Osaboro <small>Costumer Service</small></h4>
									<ul class="team-details">
										<li>Skype: team.member</li>
										<li>Tel: 555 555-5555</li>
										<li><a href="mailto:supportname@gmail.com">supportname@gmail.com</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Team 4 -->

					</div>
					<!-- /Team row -->

				</div>
			</section>
			<!-- /PAGE -->

			<!-- PAGE -->
			<section class="page-section contact dark">
				<div class="container">

					<!-- Get in touch -->

					<h2 class="section-title wow fadeInDown" data-wow-offset="200" data-wow-delay="100ms">
						<small>Feel Free to Say Hello!</small>
						<span>Get in Touch With Us</span>
					</h2>

					<div class="row">
						<div class="col-md-6 wow fadeInLeft" data-wow-offset="200" data-wow-delay="200ms">
							<!-- Contact form -->
							<form name="contact-form" method="post" action="#" class="contact-form" id="contact-form">

								<div class="row">
									<div class="col-md-6">

										<div class="outer required">
											<div class="form-group af-inner has-icon">
												<label class="sr-only" for="name">Name</label>
												<input
														type="text" name="name" id="name" placeholder="Name" value="" size="30"
														data-toggle="tooltip" title="Name is required"
														class="form-control placeholder"/>
												<span class="form-control-icon"><i class="fa fa-user"></i></span>
											</div>
										</div>

									</div>
									<div class="col-md-6">

										<div class="outer required">
											<div class="form-group af-inner has-icon">
												<label class="sr-only" for="email">Email</label>
												<input
														type="text" name="email" id="email" placeholder="Email" value="" size="30"
														data-toggle="tooltip" title="Email is required"
														class="form-control placeholder"/>
												<span class="form-control-icon"><i class="fa fa-envelope"></i></span>
											</div>
										</div>

									</div>
								</div>

								<div class="outer required">
									<div class="form-group af-inner has-icon">
										<label class="sr-only" for="subject">Subject</label>
										<input
												type="text" name="subject" id="subject" placeholder="Subject" value="" size="30"
												data-toggle="tooltip" title="Subject is required"
												class="form-control placeholder"/>
										<span class="form-control-icon"><i class="fa fa-bars"></i></span>
									</div>
								</div>

								<div class="form-group af-inner has-icon">
									<label class="sr-only" for="input-message">Message</label>
									<textarea
											name="message" id="input-message" placeholder="Message" rows="4" cols="50"
											data-toggle="tooltip" title="Message is required"
											class="form-control placeholder"></textarea>
									<span class="form-control-icon"><i class="fa fa-bars"></i></span>
								</div>

								<div class="outer required">
									<div class="form-group af-inner">
										<input type="submit" name="submit" class="form-button form-button-submit btn btn-block btn-theme ripple-effect btn-theme-dark" id="submit_btn" value="Send message" />
									</div>
								</div>

							</form>
							<!-- /Contact form -->
						</div>
						<div class="col-md-6 wow fadeInRight" data-wow-offset="200" data-wow-delay="200ms">

							<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>

							<ul class="media-list contact-list">
								<li class="media">
									<div class="media-left"><i class="fa fa-home"></i></div>
									<div class="media-body">Adress: Memorial University of Newfoundland</div>
								</li>
								<li class="media">
									<div class="media-left"><i class="fa fa"></i></div>
									<div class="media-body">St. John's, NL.</div>
								</li>
								<li class="media">
									<div class="media-left"><i class="fa fa-phone"></i></div>
									<div class="media-body">Support Phone: +1 780-266-7090</div>
								</li>
								<li class="media">
									<div class="media-left"><i class="fa fa-envelope"></i></div>
									<div class="media-body">E mails: sko336@mun.ca</div>
								</li>
								<li class="media">
									<div class="media-left"><i class="fa fa-clock-o"></i></div>
									<div class="media-body">Working Hours: 09:30-21:00 except on Sundays</div>
								</li>
								<li class="media">
									<div class="media-left"><i class="fa fa-map-marker"></i></div>
									<div class="media-body">View on The Map</div>
								</li>
							</ul>

						</div>
					</div>

					<!-- /Get in touch -->

				</div>
			</section>
			<!-- /PAGE -->

		</div>
    <!-- /CONTENT AREA -->
	    <footer class="footer">
        <div class="footer-meta">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">
                        <p class="btn-row text-center">
                            <a href="https://www.facebook.com/ok.samjackson" class="btn btn-theme ripple-effect btn-icon-left facebook wow fadeInDown" data-wow-offset="20" data-wow-delay="100ms"><i class="fa fa-facebook"></i>FACEBOOK</a>
                            <a href="#" class="btn btn-theme btn-icon-left ripple-effect twitter wow fadeInDown" data-wow-offset="20" data-wow-delay="200ms"><i class="fa fa-twitter"></i>TWITTER</a>
                            <a href="#" class="btn btn-theme btn-icon-left ripple-effect pinterest wow fadeInDown" data-wow-offset="20" data-wow-delay="300ms"><i class="fa fa-pinterest"></i>PINTEREST</a>
                            <a href="#" class="btn btn-theme btn-icon-left ripple-effect google wow fadeInDown" data-wow-offset="20" data-wow-delay="400ms"><i class="fa fa-google"></i>GOOGLE</a>
                        </p>
                        <div class="copyright">&copy; 2016 MCar Share — </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->

    <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>

</div>
<!-- /WRAPPER -->

<!-- JS Global -->
<script src="assets/plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="assets/plugins/superfish/js/superfish.min.js"></script>
<script src="assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
<script src="assets/plugins/owl-carousel2/owl.carousel.min.js"></script>
<script src="assets/plugins/jquery.sticky.min.js"></script>
<script src="assets/plugins/jquery.easing.min.js"></script>
<script src="assets/plugins/jquery.smoothscroll.min.js"></script>
<!--<script src="assets/plugins/smooth-scrollbar.min.js"></script>-->
<!--<script src="assets/plugins/wow/wow.min.js"></script>-->
<script>
    // WOW - animated content
    //new WOW().init();
</script>
<script src="assets/plugins/swiper/js/swiper.jquery.min.js"></script>
<script src="assets/plugins/datetimepicker/js/moment-with-locales.min.js"></script>
<script src="assets/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<!-- JS Page Level -->
<script src="assets/js/theme-ajax-mail.js"></script>
<script src="assets/js/theme.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

<script>

    for(1 in 5){
      var table = document.getElementById("myTable");
      var row = table.insertRow(-1);
      var cell0 = row.insertCell(0);
      var cell1 = row.insertCell(1);
      var cell2 = row.insertCell(2);
      var cell3 = row.insertCell(3);
      cell0.innerHTML = cars;
      cell1.innerHTML = "11";
      cell2.innerHTML = "111";
      cell3.innerHTML = "11";
    }

</script>

</body>
</html>
