extends layout

block content
    head
    style.
      table, td {
      border: 1px solid black;
      border-collapse: collapse;
      }
    h1.
        Car List
    table#myTable(style='width:100%')
        tr(style='font-weight:bold')
            td Brand
            td Class
            td Price
            td Location
        each user, i in userlist
            tr
                td=user.username
                td=user.email
                td=user.username
                td=user.email
    input#myText0(type='text', value='Brand')
    input#myText1(type='text', value='Class')
    input#myText2(type='text', value='Price')
    input#myText3(type='text', value='Location')
    button(onclick='myFunction()') Add Car
    script.
      function myFunction() {
      var table = document.getElementById("myTable");
      var row = table.insertRow(-1);
      var cell0 = row.insertCell(0);
      var cell1 = row.insertCell(1);
      var cell2 = row.insertCell(2);
      var cell3 = row.insertCell(3);
      cell0.innerHTML = document.getElementById("myText0").value;
      cell1.innerHTML = document.getElementById("myText1").value;
      cell2.innerHTML = document.getElementById("myText2").value;
      cell3.innerHTML = document.getElementById("myText3").value;
      
      
      }
